body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(92, 175, 175);
    margin:0px;
    padding:0px;
    color:#333;
}
/* Header styling */
header{
    color:rgb(232, 232, 241);
    background-color: rgb(132, 72, 12);
    text-align: center;
    padding:18px;
}
header h2{
    width:100%;
    font-size: 30px;
    margin:0;
}
/* content-styling */
.content{
    max-width: 900px;
    margin:0 auto;
    padding:55px;
    background-color: rgb(24, 102, 171);
    padding-bottom: 100px;
}
/* biography section styling */
.biography{
    background-color: #885c5c;
    padding:20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
    margin-bottom: 20px;
    
}
.biography h2{
    font-size: 24px;
    margin-bottom:10px;
}
/* achievements section styling */
.achievements{
    border-radius: 5px;
    background-color:#b1c363;
    padding:20px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    margin-bottom: 10px;
}
.achievements  h2{
    font-size:large;
    margin-bottom:10px;
    
}
.achievements ul{
    list-style-type:disc;
    padding-left:20px;
}
.achievements li{
    margin-bottom:10px;
}

footer{
    padding:10px;
    color:#fff;
    text-align:center;
    width:100%;
    background-color:blue;
    position:fixed;
    bottom:0;
    left: 0;
    /* line-height: 1ch; */
    
}