/* Basic Reset */
body {
  margin: 0;
  font-family: Verdana, sans-serif;
  background-color: #fafafa;
  color: #333;
}

/* Header */
header {
  background-color: #3a3a96;
  color: white;
  padding: 30px;
  text-align: center;
}

header h1 {
  margin-bottom: 35px;
}

nav a {
  color: #fff;
  text-decoration: none;
  /*display:flex;*/
  /*flex-flow: column;*/
  margin: 0 10px;
}

nav a:hover {
  text-decoration: underline;
}

/* Main Layout */
main {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  gap: 20px;
}

section {
  flex: 3;
  min-width: 300px;
}

aside {
  flex: 1;
  background-color: #ececff;
  padding: 15px;
  border-radius: 5px;
}

article {
  background-color: white;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

article h2 {
  color: #3a3a96;
}

.meta {
  font-size: 0.9em;
  color: #777;
}

/* Footer */
footer {
  background-color: #3a3a96;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 20px;
}

footer p {
  margin: 0;
}
