body {
    background-image: url("assets/background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    overflow: hidden;
     margin: 0;
     height: 100vh;
     width: 100%;
     font-family:    'Trebuchet MS', sans-serif;
    padding: 0; 
    position: relative;
    
}
header {
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
     padding: 2.5em ;
    height: 15%;
    width: 85%; 
}
aside {
    width:12em;
    margin-right: 0;
}

ul li {
    list-style-type: none;

}
button {
    background: transparent;
}
#sign-up , #tour-btn{
     height: 3em;
    width: 6em;
    border-radius: 20px;
    border-color:rgb(35, 73, 106);
    font-size:1em;
    text-align: center;
    padding: 0.1em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor:pointer;
    

}
#sign-up:hover , main button:hover{
    color:rgb(33, 13, 163);
    
    
}
main{
    display:flex;
    flex-direction: column;
    justify-items: flex-start;
    margin-left: 4em;
} 
small {
    font-size: 1.1em;
    line-height: 10px;
}
h1{
    font-size: 3.5em;
    margin-top: auto;
}
