body {
    background-image: url("assets/background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    /* margin: 0;
    padding: 0; */
}
header {
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    padding: 10% ;
    height: 60%;
}

ul li {
    list-style-type: none;

}
button {
    background: none;
}
#sign-up {
     height: 3em;
    width: 10em;
    border-radius: 10px;
    border-color:aliceblue;
    font-size:1em;
    text-align: center;
    padding: 0.1em;

}
#sign-up:hover{
    color:red;
    
    
}
main{
    display:flex;
    justify-content: space-between;
}